.banner{
    background-image: url("../../assets/glowing-stage-light-illuminates-cheering-rock-fans-generated-by-ai.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    /* background-color: aqua; */
}